* {
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
	text-align: center;
	margin: 5px;
}

.top {
	height: 150px;
	display:flex;
	justify-content: space-between;
	margin: 10px;
}

.side  {
	width: 24%;
	border: 1px solid gray;
}

.middletop {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 49%;
}

.logo {
	height: 65%;
	border: 1px solid gray;

}

.topnav {
	display: flex;
	justify-content: space-between;
	height: 30%;
}

.topnav div {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 32%;
	border: 1px solid black;
	background-color: #626262;
}

.nav {
	height: 50px;
}
ul {
	height: 100%;
	display: flex;
	font-family: sans-serif;
    font-size: 24px;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
	padding-inline-start: 0px;
}

li {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width:20%;
	background-color: #626262;
}

.search {
	display: flex;
	margin: 10px;
	height: 70px;
	border: 1px solid gray;
	background-color: lightgray;

}

.searchword {
	text-align: center;
	margin: 10px;
}

.advanced {
	margin-top: 40px;
}

input {
	margin: 15px;
	width: 800px;
	height: 40px;
}

button {
	margin: 15px;
	text-align: center;
	font-size: 16px;
	padding: 9px;
	
}

.vidspot {
	border: 1px solid gray;
    margin: 10px 10px 0px 10px;
	height:30px;
    width: 200px;
    font-family: sans-serif;
	font-size: 20px;
    background-color: darkgrey;
	text-align: center;
}

.topmain {
	height: 150px;
	display:flex;
	justify-content: space-between;
	margin:0px 10px 10px 10px;
	border: 1px solid gray;
	text-align: center;
	
}

.main {
	display: flex;
	height: 500px;
	justify-content: space-around;
}

.mainside {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 24%;
}

.mainside div {
	height: 150px;
	border: 1px solid gray;
}

.middlemain {
	width: 49%;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}

.bignews {
	border: 1px solid gray;
	height: 325px;
}

.ad {
	border: 1px solid gray;
	height: 150px;
}

.whitebox {
	display: flex;
	flex-flow: column;
	justify-content: center;
	background-color: #ededed;
}

.blackbox {
	display: flex;
	flex-flow: column;
	justify-content: center;
	background-color: #bfbfbf;
}